.playSection{
	height: 100vh;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed;
    background-repeat: no-repeat !important;
    animation: fromLeft 1s 1;
    display: none;
    width: 100%; // problem
    position: absolute; // problem
	background: linear-gradient(rgba(0.5,0.5,0.5,0.7), rgba(0.5,0.5,0.5,0.8)), url('play.jpg');
}
.allContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 120px;
}
.frame{
    width: 150px;
    display: none;
    animation: fromTop 1s 1;
}

@keyframes fromTop{
    from{
        transform: translateY(-100%)

    }
    to{
        transform: translateY(0)
    }
}
.allButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
    display: none;
    animation: fromLeft 1s 1;
}



.start{
	outline: none;
	border: 2px solid rgb(114, 95, 59);
	background-color: rgb(7, 20, 36);
	color: white;
	width: 120px;
    height: 45px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 110px;
}

input{
    border: 2px solid rgb(114, 95, 59);
	background-color: rgb(7, 20, 36);
	color: white;
	outline: none;
    width: 160px;
	height: 35px;
	margin-top: 20px;
    padding-left: 5px;
	margin-top: 20px;
}

.answer{
    border: 2px solid rgb(114, 95, 59);
	background-color: rgb(7, 20, 36);
	color: white;
	outline: none;
	width: 70px;
	height: 35px;
    margin-left: 10px;
    cursor: pointer;
}

.hint{
	border: 2px solid rgb(114, 95, 59);
	background-color: rgb(7, 20, 36);
	color: white;
	outline: none;
	margin-left: 10px;
    width: 55px;
	height: 35px;
    cursor: pointer;
    margin-top: 19px;
}

#thanks{
    color: white;
}

#thanks a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        color: lightgrey;
        text-decoration: none; 
    }
}
@media screen and (max-width: 340px){
    .hint{
        position: absolute;
        top: 430px;
    }
}

@media screen and (max-height: 450px){
    .allContent{
        margin-top: 50px !important;
    }
}